{% extends "layouts.twig" %}
{% block title %}Accueil{% endblock %}
{% block icon %}href="img/accueil.png"{% endblock %}

{% block contenu %}

<div class="card card-container">
    <img id="profile-img" class="profile-img-card" src="//ssl.gstatic.com/accounts/ui/avatar_2x.png" />
    <p id="profile-name" class="profile-name-card"></p>

    <form class="form-signin" method="post" action="{{ path_for('PostConnexion') }}">
        <span id="reauth-email" class="reauth-email"></span>
        <input type="email" id="inputEmail" name="email" class="form-control" placeholder="Email" required autofocus>
        <input type="password" id="inputPassword" name="password" class="form-control" placeholder="Mot de passe" required>
        <div id="remember" class="checkbox">
            <label>
                <input type="checkbox" value="remember-me"> Remember me
            </label>
        </div>
        <button class="btn btn-lg btn-primary btn-block btn-signin" type="submit">Connectez-vous</button>
    </form>
    {% for meg_erreur in erreur %}
        <p>Echec de la connexion</p>
    {% endfor %}
    <a href="#" class="forgot-password">
        Mot de passe oublié ?
    </a>
</div>


    <script src="js/home.js"></script>
{% endblock %}
