<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Erreur</title>
    <link href="../public/css/bootstrap.min.css" rel="stylesheet">
    <link href="../public/css/styles.css" rel="stylesheet">
    <link rel="icon" href="../public/img/error.png" type="image/icon">
</head>
<body>
<div class="container">
    <div class="text-center">
        <i class="fas fa-exclamation-circle"></i> <h1 class="title">Erreur</h1>
    </div>
    <div class="card user-container">
        <div class="text-center">
        <h2><img src="../public/img/error_64.png"> Page non trouvée</h2>
        </div>
    </div>
</div>
</body>
</html>